{% extends 'base.html' %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-6">

        <div class="card shadow p-4">

            <h2 class="mb-4 text-center">
                Upload Resume
            </h2>

            <form method="POST"
                  enctype="multipart/form-data">

                {% csrf_token %}

                {{ form.as_p }}

                <button type="submit"
                        class="btn btn-primary w-100">

                    Upload Resume

                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}